$primary: #5e72eb;
$dark: black;
$secondary:#C7C2BC;
$bg-secondary: #d8d8d8;

.form-rating {
  .files-media {
    color: transparent;
  }
  .files-media::-webkit-file-upload-button {
    visibility: hidden;
  }
  .files-media::before {
    content: 'Select some files';
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
    color: black;
  }
  .files-media:hover::before {
    border-color: black;
  }
  .files-media:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }
  
  .preview-media {
    display: flex;
    flex-wrap: wrap;
    > div {
      margin: 0 10px 10px 0;
    }
    .remove {
      background-color: $primary;
      cursor: pointer;
      color: white;
      border-radius: 50%;
      position: absolute;
      right: -6px;
      top: -6px;
    }
    img,video {
      max-width: 130px;
    }
  }
  input,button {
    outline: none;
    box-shadow: none
  }
  // input {
  //   padding: .75rem 1rem;
  //   border-radius: 0;
  // }
  // button {
  //   border-radius: 0;
  //   padding: .5rem 1rem;
  //   color: white;
  //   background-color: $primary;
  // }
  .rating {
    color: #C7C2BC;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    i {
      padding: 5px 8px 5px 0 ;
    }

  }
  .rating[deepsel-data-rating-star="1"] {
    i:nth-child(1) {
      color: $primary;
    }
    &:hover {
      i:nth-child(1) {
        color: $primary;
      }
    }
  }
  .rating[deepsel-data-rating-star="2"] {
    i:nth-child(-n+2) {
      color: $primary;
    }
  }
  .rating[deepsel-data-rating-star="3"] {
    i:nth-child(-n+3) {
      color: $primary;
    }
  }
  .rating[deepsel-data-rating-star="4"] {
    i:nth-child(-n+4) {
      color: $primary;
    }
  }
  .rating[deepsel-data-rating-star="5"] {
    i:nth-child(-n+5) {
      color: $primary;
    }
  }
}
.product-ratings {
  .rating {
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
    color: #C7C2BC;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    i {
      padding: 5px 8px 5px 0 ;
    }
  }
  .rating[deepsel-detail-product-rating-star="1"] {
    i:nth-child(1) {
      color: $primary;
    }
    &:hover {
      i:nth-child(1) {
        color: $primary;
      }
    }
  }
  .rating[deepsel-detail-product-rating-star="2"] {
    i:nth-child(-n+2) {
      color: $primary;
    }
  }
  .rating[deepsel-detail-product-rating-star="3"] {
    i:nth-child(-n+3) {
      color: $primary;
    }
  }
  .rating[deepsel-detail-product-rating-star="4"] {
    i:nth-child(-n+4) {
      color: $primary;
    }
  }
  .rating[deepsel-detail-product-rating-star="5"] {
    i:nth-child(-n+5) {
      color: $primary;
    }
  }
  .created {
    color: $secondary;
  }
  .comment {
    background-color: #F2F3F5;
    padding: 14px;
    margin-left: 20px;
    border-radius: 18px;
    margin-bottom: 0;
  }
  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;
    .username {
      color: black;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .avatar {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: contain;
  }
  .preview-media {
    display: flex;
    margin-left: 20px;

    flex-wrap: wrap;
    img,video {
      width: 100%;
      // margin: 0 10px 10px 0;
    }
  }
}

.product-details .product-brand {
  font-size: 36px;
  font-weight: bold;
  color: #5e72eb;
  text-transform: uppercase;
}
.product-details .product-name {
  color: #0b0742;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 26px;
}

.product-details .label-discount {
  margin-right: 10px;
  background: #2c2862;
  color: #ffffff;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 6px;
}
.product-details .label-new {
  background: #5e72eb;
  color: #ffffff;
  font-size: 12px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-details .item-price strike {
  color: #c5c8de;
}

.variant {
  a {
    color: black;
  }
  label {
    min-width: 70px;
  }
  .variant-item {
    .variant-name {
      font-weight: bold;
    }
    label {
      cursor: pointer;
      position: relative;
      padding-left: 25px;
      margin-right: 10px;
      margin-bottom: 10px;
      min-width: 100px;
    }
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 20px;
      width: 20px;
      background-color: #c5c8de;
      border-radius: 50%;
    }
    
    /* On mouse-over, add a grey background color */
    label:hover input ~ .checkmark {
      background-color: #c5c8de;
    }
    
    /* When the radio button is checked, add a blue background */
    label input:checked ~ .checkmark {
      background-color: #5e72eb;
    }
    
    /* Create the indicator (the dot/circle - hidden when not checked) */
    label:after {
      content: "";
      position: absolute;
      display: none;
    }
    
    /* Show the indicator (dot/circle) when checked */
    label input:checked ~ .checkmark:after {
      display: block;
    }
    
    /* Style the indicator (dot/circle) */
    label .checkmark:after {
      content: "";
      display: none;
      position: absolute;
      background-color: white;
      top: 6px;
      left: 6px;
      width: 8px;
      height: 8px;
      background-color: #eee;
      border-radius: 50%;
    }
  }
}

#quantity input {
  outline: none;
  font-size: 16px;
  padding: 0rem;
  border: 0;
  width: 40px;
  height: 80%;
  text-align: center;
  font-weight: bold;
}
#quantity span i {
  color: #c5c8de;
  cursor: pointer;
  font-size: x-large;
}
.product-container #quantity {
  width: 120px;
  height: 50px;
  display: flex;
  align-items: center;
  border: 1px solid #edeef5;
  justify-content: center;
}
.product-container label {
    color:#2C2862;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 30px;
    margin-bottom: 0;
}
.img-selected {
  opacity: 1 !important;
}
.thumbnail {
  cursor: pointer;
}
.thumbnail .active img {
  opacity: 1 !important;
}
.thumbnail a img {
  opacity: 0.3;
}
.thumbnail a:focus img{
  opacity: 1 ;
}
.products .btn {
    font-weight: bold;
    float: right;
    border: 0;
    border-radius: 0;
    padding: 18px 96.58px;
    background: #5E72EB;
    color: #fff;
    font-size: 18px;
    margin-right: 13px;
}
.products .btn:focus {
    outline: none;
    box-shadow: none;
}
.products .btn:active {
    background: #5E72EB;
}

.product-container .nav-pills .nav-link {
  padding: 12px 16px 12px 16px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 0;
  border: 0;
  color: #c5c8de;
  margin-bottom: 0px;
}
.product-container .nav-pills .nav-link.active,.product-container .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #5e72eb;
}
.product-container .tab-content .product-name, .product-feature {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #0B0742;
}
.product-container .tab-content {
  border: 1px solid #C5C8DE;
}
.product-container .tab-pane p {
  // color:#0B0742;
}
.product-container .reviews-rating {
  color:#C5C8DE;
}
.product-container .reviews-rating .fa-star:before {
  font-size: 27px;
  color: #5e72eb;
}
.product-container .reviews-rating .far.fa-star:before {
  font-size: 27px;
  color: #C5C8DE;
}
.product-container .form-control {
  padding:17px;
  border-radius: 0;
  border: 1px solid #EDEEF5;
}
.product-container .form-control::-webkit-input-placeholder {
  color:#C5C8DE
}
.input-group>.form-control:focus {
  z-index: 3;
  box-shadow: none;
  border: 1px solid #5E72EB;
}
#reviewInput {
  border-radius: 0;
  background: #5E72EB;
  color:#ffffff;
  font-weight: bold;
}
.product-container .user-name h6 {
  font-weight: bold;
  text-transform: uppercase;
  line-height: 22px;
}
.product-container .user-name .reviews-rating .fa-star:before {
  font-size: 14px;
  color: #5e72eb;
}
.product-container .user-name .reviews-rating .far.fa-star:before {
  color: #C5C8DE;
}
.comment-part .comment {
  color:#0B0742;
}
.user-img-part {
  margin-top: 30px;
}

@media screen and (min-width:320px) {
  .products .row {
    margin:0px;
  }
  .product-details {
    margin-top: 32px;
  }
  /* .product-details {
    padding-left: 16px;
  } */
  .product-details .rating {
    margin:16px 0;
  }
  .product-details .rating li:before {
    color: #C5C8DE;
  }
  .product-details .rating[data-rating="1"] li:nth-child(1):before {
    color: #5e72eb;
  }
  .product-details .rating[data-rating="2"] li:nth-child(-n+2):before {
    color: #5e72eb;
  }
  .product-details .rating[data-rating="3"] li:nth-child(-n+3):before {
    color: #5e72eb;
  }
  .product-details .rating[data-rating="4"] li:nth-child(-n+4):before {
    color: #5e72eb;
  }
  .product-details .rating[data-rating="5"] li:nth-child(-n+5):before {
    color: #5e72eb;
  }

  .product-details .product-brand {
    font-size: 36px;
    font-weight: bold;
    color: #5e72eb;
    text-transform: uppercase;
  }
  .product-details .item-price {
    font-size: 30px;
    font-weight: bold;
    color: #0b0742;
  }
  .products {
    margin-top: 32px;
  }
  .products .product-carousel .item img {
    height: 350px;
  }
  .thumbnail .button img {
    width: 87px;
    height: 87px;
  }
  .product-details, .qt-form {
    padding: 0 15px;
  }
}
.products-list {
  .item {
    margin-bottom: 20px;
    &:hover {
      .buy-now {
        display: block;
      }
    }
    .tags {
      position: absolute;
      display: flex;
      top: 4px;
      left: 20px;
      flex-wrap: wrap;
      .tag {
        background-color: #5e72eb;
        color: white;
        font-size: 12px;
        padding: 2px 8px;
        margin: 0 4px 4px 0;
      }
    }
    > div {
      border: 1px solid #edeef5;
    }
    .item-price {
      display: flex;
      flex-direction: column;
      min-height: 50px;
      span {
        color: $primary;
      }
    }
    .name {
      color:#0B0742;
      min-height: 39px;
      margin: 10px 0;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: bold;
      padding: 0 20px;
    }
    .buy-now {
      display: none;
      height: 100%;
      border-radius: 0;
      background-color: #5e72eb;
      top: 0;
      left: 0;
      color: white;
      width: calc(100% - 55px);
    }
    .item strike {
      color: #c5c8de;
    }
    p > span {
      color: #0b0742;
    }
    h3 {
      padding-top: 20px !important;
    }
    h3,h6,p,ul {
      padding: 0 20px;
    }
    .rating {
      color: #C7C2BC;
      font-size: 12px;
      li {
        color: #c5c8de;
      }
    }
    .rating[data-rating="1"] {
      li:nth-child(1) {
        color: $primary;
      }
    }
    .rating[data-rating="2"] {
      li:nth-child(-n+2) {
        color: $primary;
      }
    }
    .rating[data-rating="3"] {
      li:nth-child(-n+3) {
        color: $primary;
      }
    }
    .rating[data-rating="4"] {
      li:nth-child(-n+4) {
        color: $primary;
      }
    }
    .rating[data-rating="5"] {
      li:nth-child(-n+5) {
        color: $primary;
      }
    }
  }
}
@media screen and (min-width:768px) {
  .product-details .product-brand {
    font-size: 36px;
    font-weight: bold;
    color: #5e72eb;
    text-transform: uppercase;
  }
  .thumbnail .button img {
    width: 95px;
    height: 95px;
  }
  .products .product-carousel .item img {
    height: 450px;
  }
  .product-details, .qt-form {
    padding: 0;
  }
}
@media screen and (min-width:1024px) {
  .product-details .product-brand {
    font-size: 36px;
    font-weight: bold;
    color: #5e72eb;
    text-transform: uppercase;
  }
  .thumbnail {
    height: 450px;
  }
  .thumbnail .button img {
    width: 200px;
    height: 200px;
  }
}
@media screen and (min-width:1200px) {
  .product-details {
    margin-top: 80px;
  }
  .product-details .rating {
    margin: 10px 0;
  }
  .product-details .product-brand {
    font-size: 36px;
    font-weight: bold;
    color: #5e72eb;
    text-transform: uppercase;
  }

  .products {
    margin-top: 0;
  }
  .products .product-carousel .item img {
    height: 650px;
  }
  .thumbnail {
    height: 650px;
  }
  .thumbnail .button img {
    width: 248px;
    height: 248px;
  }
}